.button {
  align-items: center;
  background: var(--bp-color-panel);
  border: 1px solid var(--bp-color-border);
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  box-shadow: var(--bp-shadow-subtle);
  height: 44px;
  justify-content: center;
  width: 44px;
}

.button:hover {
  background: var(--bp-color-subtle);
}
